.profile {
  display: flex;
  margin-left: 20px;
  gap: 100px;
  font-family: ;
}
.profile__clothing-items {
 flex-grow: 1; 
}

@media screen and (max-width: 580px) {
  .profile {
    flex-direction: column;
  }

.sidebar__username { 

}

}