.page {
  background-color: #f3f3f3;
  font-family: "Schibsted Grotesk", sans-serif;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto 100px;
  padding: 0 20px;
}

@media (max-width: 1279px) {
  .page__content {
    max-width: 1000px;
    padding: 0 12px;
  }
}

@media (max-width: 767px) {
  .page__content {
    max-width: 100vw;
    padding: 0 6px;
  }
  .page {
    font-size: 15px;
  }
}
