.modal__item-info {
display: flex;
justify-content: space-between;
align-items: center;
}


.modal__delete-button {
color: #FF4D00;
font-size: 20px;
line-height: 24px ;
font-weight: 700;
font-family: "Cabinet Grotesk", sans-serif;
background: none;
border: none;
padding: 0;
cursor: pointer;
text-decoration: none;
}