.footer_container {
  display: flex;
max-width: 1360px;  
justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 20px;
}

.footer_copyright {
  margin-left: 100px;
  padding-left: 10px;
}

.footer_year {
  margin-top: 0px;
  margin-left: 20px;
}