.clothes-section__items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 325px);
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.clothes-section__add-item {
  display: flex
}

@media screen and (max-width: 768px) {
  .clothes-section__items {
    grid-template-columns: repeat(
      auto-fill,
      minmax(162px, 1fr)
    ); /* 2 items per row on medium screens */
  }
}
@media screen and (max-width: 425px) {
  .clothes-section__items {
    grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
    grid-auto-rows: 164px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 380px) {
  .clothes-section__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
    gap: 20px;
    padding: 0 17px;
    align-items: center;
    justify-items: center;
  }
}
